<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wallbot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import wallbot urdf file -->
    <xacro:include filename="$(find wallbot_urdf)/urdf/wallbot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="wallbot.ros2_control.xacro" />


    <xacro:wallbot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
